<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jde="http://www.mulesoft.org/schema/mule/jde" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/jde http://www.mulesoft.org/schema/mule/jde/current/mule-jde.xsd">
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="10bc4d6e-daf6-48ab-8860-861bff99ccfe" files="beans.xml" />
	<spring:security-manager doc:name="Spring Security manager" doc:id="aa085eba-7c0f-4752-9b8b-c3c743ba8868" >
		<spring:delegate-security-provider name="security-provider" delegate-ref="authenticationManager"/>
	</spring:security-manager>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="a483a543-d703-4e9a-932f-dbbab4083a35" file="secure-config-${mule.env}.yaml" key="${mule.key}"/>
	<configuration-properties doc:name="Configuration properties" doc:id="d3b19fc5-b9aa-43f3-919a-2729faae2353" file="common-config.yaml" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ff3003cf-dd5c-4cf7-8ca8-d8ddcdf6d71d" responseTimeout="180000">
		<http:request-connection host="${secure::api5.host}" protocol="HTTPS">
			<tls:context >
				<tls:trust-store path="${secure::api5.truststore.path}" password="${secure::api5.truststore.pwd}" type="jks" insecure="true"/>
			</tls:context>
			<http:authentication >
				<http:basic-authentication password="${secure::api5.mulepassword}" username="${secure::api5.muleuser}"/>
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<global-property doc:name="Global Property" doc:id="38bd82ff-1a6e-4d9d-bc49-9ab8e55f9e09" name="mule.env" value="${mule.env}" />
	<global-property doc:name="Global Property" doc:id="6c46b582-71f0-4f75-9d68-431eb7f05002" name="mule.key" value="${mule.key}"/>
	<http:listener-config name="api-11_HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="af0b4028-7c25-4386-9e40-a0cdfa4a8d56" >
		<http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="pkcs12" path="keystore/Holcim-Mule-dev-KeyStore.p12" alias="keystore-cd-nonprod" keyPassword="$f1B9lu&amp;6EJi" password="$f1B9lu&amp;6EJi" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	
	 <apikit:config name="api-11-jdeuk-status-batch-conf-to-cd-config" api="api-11-jdeuk-status-batch-conf-to-cd.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
<sqs:config name="Amazon_SQS_Configuration" doc:name="Amazon SQS Configuration" doc:id="9328f8d5-d103-4ece-9e0b-cef00755ccd6" >
		<sqs:basic-connection testQueueArn="${secure::SQSTestQueueARN}" accessKey="${secure::SQSAccessKey}" secretKey="${secure::SQSSecretKey}" region="eu-west-1"/>
	</sqs:config>
	<cloudhub:config name="CloudHub_Config" doc:name="CloudHub Config" doc:id="197c561c-156b-4e91-aaf6-6bb5394c8606" >
		<cloudhub:connection username="${secure::cloudhub.username}" password="${secure::cloudhub.pwd}" environment="${secure::cloudhub.env}"/>
	</cloudhub:config>
	
</mule>
